.page1 {
	background-color: black;
}
.texts {
	color: white;
}
h3 {
	color: yellow;
}
.berners {
	color: white;
}
.page2 {
	background-color: orange;
}
.computer {
	color: white;
}
.text {
	color: black;
}
.paragraph1 {
	color: white;
}
.paragraph2 {
	color: white;
}
.text1 {
	color: black;
}
h1 {
	color: white;
}
.prog {
	color: white;
}